<% content_for :title do %>
  <title>Edit Trip</title>
<% end %>

<%= render 'header' %>

<% if @trip.errors.any? %>
  <%= render 'validation' %>
<% end %>

<div class="container">
  <div class="row block mid-full">
    <div class="col-xs-12">
      <h1>Edit Trip</h1>
      <hr><br>
      <%= render 'form' %>
    </div>
  </div>
</div>
