<%= form_for @note, html: {role: 'form', class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.text_area :note, class: 'form-control', placeholder: 'Note' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Back', root_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
