- content_for :title do
  %title Add a Plan | Trip Planner

%header.form-header
  .container.form-container
    .row
      .col-xs-12
        %h1 Add a New Plan
        %hr

%article
  %section
    .container.form-container
      = render 'form'