<% content_for :title do %>
  <title>Edit Event | Trip Planner</title>
<% end %>

<% if @event.errors.any? %>
  <%= render 'validation' %>
<% end %>

<div class="container">
  <div class="row mid-full">
    <div class="col-xs-12">
      <h1>Edit Event</h1>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
</div>
