<% content_for :title do %>
  <title>Edit Pin Note</title>
<% end %>

<% if @pin_note.errors.any? %>
  <%= render 'validation' %>
<% end %>

<div class="container">
  <div class="row mid-full">
    <div class="col-xs-12">
      <h1>Edit Note</h1>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
</div>
