// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: #eeeeee;
}

.alert-box.top-contact-alert {
  padding: 0;
  margin-bottom: 0;

  p.text-center {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
  }
}

.navbar-panel {
  padding: .25rem;
  background: #ffffff;
  margin-bottom: 0;
  height: 50px;
  border-right: none;
  border-left: none;
}

.panel.navbar-panel h1 {
  margin: 0;
  vertical-align: middle;
  color: #008cba;
  display: inline;
  font-size: 30px;
  margin-left: 5px;
}

.panel.navbar-panel h3 {
  display: inline;
  vertical-align: middle;
  margin: 0;
  margin-left: 5px;
  color: #008cba;
}

.navbar-panel a.button.secondary {
  font-size: 15px;
  padding: 7px 15px;
  margin: 0;
  margin-top: 2px;
  background-color: #efefef;

  &:hover {
    background-color: #008cba;
    color: #ffffff;
  }

  &:first-of-type {
    margin-left: 15px;
    margin-right: 10px;
  }
}

.row.full {
  max-width: 100%;

  .row {
    margin: 0;
  }

  .small-12.medium-8.columns.compaq:first-child {
    border-right: 1px solid #d2d2d2;
  }

  .small-12.medium-4.columns.compaq:last-child {
    background: #ffffff;
  }
}

.row.mid-full {
  max-width: 850px;
  background: #ffffff;
  border-top: 7px solid #008cba;
  margin-top: 50px;
  padding-bottom: 15px;
  margin-bottom: 35px;
}

.day h2 {
  display: inline-block;
}

.day {
  margin: 15px;
  padding: 0 15px 0;
}

.day .row:nth-child(1) {
  background: #f8faf9;
  border-bottom: 1px solid #DCE0E1;

  a.button.alert {
    padding: 12px 20px;
    margin: 10px;
  }

  a.button.secondary.round {
    padding: 5px 15px;
    font-size: 30px;
    color: #7D97A7;
    margin: 5px auto;
    background: #ffffff;
    border: 1px solid #d5d5d5;

    &:hover {
      background: #008cba;
      color: #ffffff;
      border-color: #008cba;
    }
  }

  a.button.secondary.round.disabled:hover {
    background: #f8f8f8;
    color: #7d97a7;
  }

  .small-12.columns {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.day .row:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
  background: #ffffff;

  .columns + .columns:last-child {
    float: left;
  }

  .small-3.columns {
    height: 150px;
    width: 150px;
    border: 1px solid #d2d2d2;
    margin: 10px 5px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1, 1.1);
      border-color: #008cba;
      transform: rotate(15deg);
    }
  }

  div.text-center {
    border: 3px dashed #e2e2e2;
    margin: 20px auto;
    padding: 10px;
    border-radius: 3px;
  }

  div.text-center p {
    font-size: 20px;
    color: #BDC7CC;
    font-weight: bold;
    margin-top: 10px;
  }
}

.note {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin: 15px;
  padding: 0 15px 0;

  p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
  }

  a {
    padding: 7px 10px;
    margin-top: 10px;
    font-size: 15px;
  }
}

.compaq {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 500px;
}