// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: #ffffff;
}

.alert-box.top-contact-alert {
  padding: 0;
  margin-bottom: 0;

  p.text-center {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
  }
}

.navbar-panel {
  padding: .25rem;
}

.panel.navbar-panel h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.navbar-panel a {
  font-size: 1.5rem;
  padding: 0.7rem;
  display: inline-block;
}

.row.full {
  max-width: 100%;
}

.day h2 {
  display: inline-block;
}

.day {
  margin: 15px;
  padding: 0 15px 0;
}

.day .row:nth-child(1) {
  background: #e9e9e9;
  border: 1px solid #b9b9b9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  a.button.radius.alert {
    padding: 12px 20px;
    margin: 10px;
  }

  a.button.secondary.round {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 5px auto;
    background: #ffffff;
    border: 1px solid #d5d5d5;

    &:hover {
      background: #d5d5d5;
    }
  }

  a.button.secondary.round.disabled:hover {
    background: #f8f8f8;
  }

  .small-12.columns {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.day .row:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #d5d5d5;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  .columns + .columns:last-child {
    float: left;
  }

  .small-3.columns {
    height: 150px;
    width: 150px;
    border: 2px solid #d2d2d2;
    margin: 10px 5px;
    border-radius: 3px;
  }

  div.text-center {
    border: 3px dashed #e2e2e2;
    margin: 20px auto;
    padding: 10px;
    border-radius: 3px;
  }

  div.text-center p {
    font-size: 20px;
    color: #707070;
    margin-top: 10px;
  }
}

.panel.navbar-panel h3 {
  margin-top: 15px;
}

.note {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 15px;
  padding: 0 15px 0;

  p {
    display: inline-block;
  }

  a {
    padding: 10px 15px;
    margin-top: 10px;
  }
}